.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
    display: flex;
	flex-wrap: wrap;
}

.mole {
    background-image: url(images/mole.jpeg);
    background-size: cover;
    cursor: pointer;
}